.leftHeader{
    box-sizing: border-box;
    border: none;
    background-color: #8A8585;
    margin: 0;
    height: 60px;
    width: 100%;
    text-align: left;
}

.myAvatar {
    vertical-align: middle;
    margin-left: 20px;
}

.myName {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    margin-left: 10px;
    height: 100%;
    font-weight: 700;
    color: white;
    line-height: 60px;
}