.leftHeader{
    border: none;
    background-color: #585050;
    margin: 0;
    height: 70px;
    width: 100%;
}

.userAvatar {
    position: relative;
    top: 50%;
    transform: translateY(-26px);
    margin-left: 15px;
}

.myName {
    box-sizing: border-box;
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
    padding: 23px 10px;
    height: 100%;
    color: white;
}