.backgroundOverlay {
    text-align: center;
    background-image: linear-gradient(to bottom right, lightgrey, #545454);
    padding: 3rem 0;
}


.privateChatWrapper {
    background-color: white;
    width: 1000px;
    height: 650px;
    border-radius: 5px;
    border: 1px solid gray;
    overflow: hidden;
    border: 1px solid black;
    margin: 20px auto;
    box-shadow: 5px 5px 8px #3d3d3d;
}



