.mainPageLeftWrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 650px;
    background-color: #8A8585;
    margin: 0;
    padding: 0;
}

.icons {
    text-align: center;
    margin: 4px 6px 10px;
}

.chatWrapper, .contactWrapper, .noteWrapper {
    display: inline-block;
    width: 33.33%;
    text-align: center;
}

.chatIcon {
    width: 30px;
    height: 30px;
}

.contactIcon {
    width: 30px;
    height: 30px;
}

.noteIcon {
    width: 30px;
    height: 30px;
}

.settingWrapper {
    position: relative;
    flex: 1;
}

.settingIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    bottom: 20px;
}