.mainPageLeftWrapper {
    display: block;
    float: left;
    width: 220px;
    max-width: 260px;
    min-width: 220px;
    resize: horizontal;
    overflow-x: scroll;
    height: 650px;
    background-color: #8A8585;
    margin: 0;
    padding: 0;
}

.icons {
    text-align: center;
    margin: 4px 6px 10px;
}

.chatWrapper, .contactWrapper, .noteWrapper {
    display: inline-block;
    width: 33.33%;
    text-align: center;
}

.chatIcon {
    width: 30px;
    height: 30px;
}

.contactIcon {
    width: 30px;
    height: 30px;
}

.noteIcon {
    width: 30px;
    height: 30px;
}

.settingWrapper {
    position: relative;
    flex: 1;
}

.settingIcon {
    position: relative;
    width: 25px;
    height: 25px;
    left: 15px;
    bottom: -35px;
}