.userAvatar {
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    display: inline-block;
}

.userAvatarChat {
    /* todo - chatpage avatar, smaller ? */
}


.icon {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
}