.homePageList {
    box-sizing: border-box;
    width: 100%;
    height: 420px;
    padding: 0;
    margin: 0;
    background-color: #8A8585;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 1px solid #A8A1A1;
    border-bottom: 1px solid #A8A1A1;
}

.homePageList::-webkit-scrollbar { width: 0 !important }

.homePageList li {
    box-sizing: border-box;
    height: 60px;
    list-style: none;
    border-bottom: 1px solid #A8A1A1;
    display: flex;
    align-items: center;
    padding: 6px;
    position: relative;
}

.listAvatar {
    margin-left: 10px;
}

.content {
    padding-top: 7px;
    display: inline-block;
    margin-left: 10px;
    width: 80%;
    height: 48px;
    text-align: left;
}

.content .title {
    margin-bottom: 4px;
    text-align: left;
}

.content .chatListName {
    
    font-size: 16px;
    font-weight: 500;
    vertical-align: bottom;
    overflow: hidden;
}

.content .chatListTime {
    font-size: 14px;
    font-weight: normal;
    color: #4A4949;
    right: 5px;
    padding: 0 5px;
    vertical-align: bottom;
    /* Absolute 元素的父元素必须是relative 
    只要父级元素设了position并且不是static（默认既是static），
    那么设定了absolute的子元素即以此为包含块（最近的）。*/
    position: absolute;
}

.content .message {
    color: #4A4949;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
    /* 分行单词处理 */
    word-break: break-word;
    max-height: 20px;
    text-overflow: ellipsis;
    width: 70%;
}

.unread {
    background-color: #E02020;
    color: white;
    border-radius: 50%;
    right: 10px;
    position: absolute;
}

.oneDigitsUnread {
    font-size: 12px;
    padding: 1px 5.5px;
}

.twoDigitsUnread {
    font-size: 11px;
    padding: 2px 3px;
}

.threeDigitsUnread {
    font-size: 10px;
    padding: 2px 4px;
}

