.chatWind{
    position: relative;
    width: 860px;
    height: 800px;
    top: 50%;
}

.chatTitle{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #B2C098;
    text-align: center;
}
.name{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.chatWin{
    display: block;
    height: 500px;
    width: 100%;
    background-color: transparent;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.functions{
    display: block;
    height: 27px;
    margin-bottom: 15px;
}

.emoji{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.plus{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.folder{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.functions::before{
    content: '';
    width: 860px;
    height: 5px;
    background-color: rgb(241, 238, 238);
    background-size: 860px 5px;
    display: block;
    margin-left: -10px;
    margin-bottom: 10px;
}

.inputText{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    width: 850px;
    background-color: transparent;
    height: 180px;
    resize: vertical;
    overflow: auto;
    min-height: 180px;
    max-height: 230px;
}
/* 
.inputText::after {
    content: "";
    background: rgba(199, 196, 196, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 860px;
    margin-bottom: 10px;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}