.chatWind{
    display: block;
    /* vertical-align: top; */
    float: left;
    width: 740px;
    max-width: 780px;
    min-width: 740px;
    resize: horizontal;
    overflow-x: hidden;
    height: 650px;
}

.chatTitle{
    display: block;
    height: 50px;
    width: 100%;
    background-color: #B2C098;
    text-align: center;
}
.name{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

.chatWin{
    display: block;
    min-height: 370px;
    max-height: 420px;
    height: 420px;
    resize: vertical;
    width: 100%;
    background-color: transparent;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.functions{
    position: relative;
    top: 0px;
    height: 27px;
    margin-bottom: 15px;
}

.emoji{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.plus{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.folder{
    display: inline-block;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.functions::before{
    content: '';
    width: 100%;
    height: 5px;
    background-color: rgb(241, 238, 238);
    background-size: auto 5px;
    display: block;
    margin-left: -10px;
    margin-bottom: 10px;
}

.inputText{
    display: block;
    padding-top: 0;
    padding-left: 10px;
    width: 100%;
    background-color: transparent;
    height: fit-content;
    overflow: hidden;
}
/* 
.inputText::after {
    content: "";
    background: rgba(199, 196, 196, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 860px;
    margin-bottom: 10px;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}