.searchBox {
    border-radius: 5px;
    border: 1px solid #383636;
    background-color: #555252;
    margin: 10px 10px;
    box-sizing: border-box;
    height: 2.2rem;
    display: block;
    padding: 0;
}

 .icon {
    box-sizing: border-box;
    width: 1.8rem;
    height: 1.8rem;
    padding: 4px 0;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

 .searchBox input {
    font-size: 1.1rem;
    height: 2rem;
    border: none;
    outline: none;
    display: inline-block;
    color: white;
    background-color: #555252;
    vertical-align: middle;
    width: calc(100%-3rem);
}

::placeholder {
    color: fff; 
}

::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
  :-ms-input-placeholder {  /* Edge/IE 10+ */
    color: #fff;
  }